
#corps
{
	background-image: url(images/fond.png);
	overflow: hidden;
	position: absolute;
	width: 600px;
	height: 600px;
	animation: animatedBackground 7s linear infinite;
	cursor: url("images/plane.gif") 42 38, auto;
}

@keyframes animatedBackground {
    0% { background-position: 0 0; }
    100% { background-position: 0 1350; }
}
@-moz-keyframes animatedBackground {
    0% { background-position: 0 0; }
    100% { background-position: 0 1350; }
}
@-webkit-keyframes animatedBackground {
    0% { background-position: 0 0; }
    100% { background-position: 0 1350; }
}

 #perso
 {
	
	background-image: url(images/mario1.png);
	background-position: 80% top;
	width: 37px;
	height: 58px;
	position : absolute;
	top: 0px;
	left: 0px;

}


 #boss
 {
    background-image: url(images/boss.gif); 
    width: 600px;
    height: 190px;
    background-repeat: no-repeat;
	margin: 0 auto;
}


 #boss:hover
 {
	animation: blink 0.00001s infinite;
}


@keyframes blink {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@-moz-keyframes blink {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@-webkit-keyframes blink {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
