
#main
{
	background-image: url(images/fond.png);
	overflow: hidden;
	position: absolute;
	width: 600px;
	height: 600px;
	animation: animatedBackground 7s linear infinite;
    cursor: url("images/plane.png") 42 38, auto; 
}

@keyframes animatedBackground {
    0% { background-position: 0 0; }
    100% { background-position: 0 1350; }
}
@-moz-keyframes animatedBackground {
    0% { background-position: 0 0; }
    100% { background-position: 0 1350; }
}
@-webkit-keyframes animatedBackground {
    0% { background-position: 0 0; }
    100% { background-position: 0 1350; }
}

.enemy
 {
    width: 70px;
    height: 70px;
    position: absolute;
    display : none;
    background-image:url(images/enemy.png);
    z-index:1;
}




.loose
{
    display:none;
}


/* if loose*/
.enemy:hover .loose
 {

     width: 650;
    height: 650;
    display:block;
    top:0;
    left:0;
    position: fixed;
    background-color : white;
    cursor:auto;
    z-index:10;
}


/*  Animations */


@keyframes fire1 {
    0% { top: -50; left: 300; }
    100% { top: 650;  left: 300;}
}
@-moz-keyframes fire {
    0% { top: -50;  left: 300;}
    100% { top: 650;  left: 300;}
}
@-webkit-keyframes fire {
    0% { top: -50;  left: 300;}
    100% { top: 650;  left: 300;}
}


@keyframes fire2 {
    0% { top: -50; left: 0; }
    100% { top: 650;  left: 300;}
}
@-moz-keyframes fire2 {
    0% { top: -50;  left: 0;}
    100% { top: 650;  left: 300;}
}
@-webkit-keyframes fire2 {
    0% { top: -50;  left: 0;}
    100% { top: 650;  left: 300;}
}

@keyframes fire3 {
    0% { top: -50; left: 200; }
    100% { top: 650;  left: 600;}
}
@-moz-keyframes fire3 {
    0% { top: -50;  left: 200;}
    100% { top: 650;  left: 600;}
}
@-webkit-keyframes fire3 {
    0% { top: -50;  left: 200;}
    100% { top: 650;  left: 600;}
}


@keyframes fire4 {
    0% { top: -50; left: 200; }
    33% { top: 160;  left: 400;}
    66% { top: 320;  left: 200;}
    100% { top: 650;  left: 600;}
}
@-moz-keyframes fire4 {
     0% { top: -50; left: 200; }
    33% { top: 160;  left: 400;}
    66% { top: 320;  left: 200;}
    100% { top: 650;  left: 600;}
}
@-webkit-keyframes fire4 {
    0% { top: -50; left: 200; }
    33% { top: 160;  left: 400;}
    66% { top: 320;  left: 200;}
    100% { top: 650;  left: 600;}
}


@keyframes fire5 {
    0% { top: -50; left: 500; }
    100% { top: 650;  left: 100;}
}
@-moz-keyframes fire5 {
    0% { top: -50; left: 500; }
    100% { top: 650;  left: 100;}
}
@-webkit-keyframes fire5 {
    0% { top: -50; left: 500; }
    100% { top: 650;  left: 100;}
}


@keyframes fire6 {
    0% { top: -50; left: 450; }
    100% { top: 650;  left: 200;}
}
@-moz-keyframes fire6 {
    0% { top: -50; left: 450; }
    100% { top: 650;  left: 200;}
}
@-webkit-keyframes fire6 {
    0% { top: -50; left: 450; }
    100% { top: 650;  left: 200;}
}


@keyframes fire7 {
    0% { top: -50; left: 300; }
    33% { top: 160;  left: 500;}
    66% { top: 320;  left: 300;}
    100% { top: 650;  left: 100;}
}
@-moz-keyframes fire7 {
    0% { top: -50; left: 300; }
    33% { top: 160;  left: 500;}
    66% { top: 320;  left: 300;}
    100% { top: 650;  left: 100;}
}
@-webkit-keyframes fire7 {
    0% { top: -50; left: 300; }
    33% { top: 160;  left: 500;}
    66% { top: 320;  left: 300;}
    100% { top: 650;  left: 100;}
}
