
#main
{
	background-image: url(images/fond.png);
	overflow: hidden;
	position: absolute;
	width: 600px;
	height: 600px;
	animation: animatedBackground 7s linear infinite;
    cursor: url("images/plane.gif") 42 38, auto; 
}

@keyframes animatedBackground {
    0% { background-position: 0 0; }
    100% { background-position: 0 1350; }
}
@-moz-keyframes animatedBackground {
    0% { background-position: 0 0; }
    100% { background-position: 0 1350; }
}
@-webkit-keyframes animatedBackground {
    0% { background-position: 0 0; }
    100% { background-position: 0 1350; }
}

 #perso
 {
	
	background-image: url(images/mario1.png);
	background-position: 80% top;
	width: 37px;
	height: 58px;
	position : absolute;
	top: 0px;
	left: 0px;

}


 #boss
 {
    background-image: url(images/boss.gif); 
    width: 600px;
    height: 190px;
    background-repeat: no-repeat;
	margin: 0 auto;
}


 #boss:hover
 {
	animation: blink 0.00001s infinite;
}


@keyframes blink {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@-moz-keyframes blink {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@-webkit-keyframes blink {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.enemy
 {
    width: 50px;
    height: 50px;
    position: absolute;
    display : none;
    background-image:url(images/enemy.png);
}




.loose
{
    display:none;
}



.enemy:hover .loose
 {

     width: 650;
    height: 650;
    display:block;
    top:0;
    left:0;
    position: fixed;
    background-color : white;
}



/* Toutes les animations */


@keyframes fire1 {
    0% { top: 0; left: 300; }
    100% { top: 650;  left: 300;}
}
@-moz-keyframes fire {
    0% { top: 0;  left: 300;}
    100% { top: 650;  left: 300;}
}
@-webkit-keyframes fire {
    0% { top: 0;  left: 300;}
    100% { top: 650;  left: 300;}
}


@keyframes fire2 {
    0% { top: 0; left: 0; }
    100% { top: 650;  left: 300;}
}
@-moz-keyframes fire2 {
    0% { top: 0;  left: 0;}
    100% { top: 650;  left: 300;}
}
@-webkit-keyframes fire2 {
    0% { top: 0;  left: 0;}
    100% { top: 650;  left: 300;}
}

@keyframes fire3 {
    0% { top: 0; left: 200; }
    100% { top: 650;  left: 600;}
}
@-moz-keyframes fire3 {
    0% { top: 0;  left: 200;}
    100% { top: 650;  left: 600;}
}
@-webkit-keyframes fire3 {
    0% { top: 0;  left: 200;}
    100% { top: 650;  left: 600;}
}
